/* Filtrado */

.filtrado-container *{
    margin: 0px;
    padding: 0px;
}

.filtrado-container {
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    display: flex;
}

.button-filter,
.button-sort {
    border: none;
    padding: 12px 25px;
    margin: 4px 0px;
}

.filtrado {
    width: 1000px;
}

/* Ordenamiento */

.ordenamiento {
    
}

.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
.dropdown-ordenar-por {
    margin: 0px;
    padding: 0px;
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-ordenar-por button {
    width: 100%;
    border: none;
    padding: 12px 25px;
    margin: 0px;
}

.dropdown-ordenar-por button:hover {
    color: aliceblue;
    background-color: #1351ec;
}

.selected {
    color: aliceblue;
    background-color: #1351ec;
}